</main>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
    <div class="col-md-4">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Charan M</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/_charan_mudiraj?t=FkppQqe4UIRLmsZdzomz7w&s=09"><img src="../../images/twitter.svg" class="bi" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://instagram.com/h9ck_berry?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><img src="../../images/instagram.svg" class="bi" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/charan-mudiraj-868086230"><img src="../../images/linkedin.svg" class="bi" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://wa.me/qr/H67AUKBDVVBUO1"><img src="../../images/whatsapp.svg" class="bi" width="24" height="24"></a></li>
    </ul>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="../../scripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>